@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    /* --vermelho: #EE3300;
    --laranja: #FF7A2F;
    --amarelo: #f49a40; */
    --amarelo: #FFCC00;
    --vermelho: #D62828;
    --verde: #4DAD5B;
    --azul: #3e86d8;
    --blue: #2A4FB5;
    --azul-claro: #8FD8FF;
    --azul-snorlax: #3B5B6F;
}

body{
    font-family: 'Nunito Sans', Arial, sans-serif !important;
    letter-spacing: 0.4px;
    line-height: 1.2; 
    background-color: var(--azul-snorlax);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--amarelo);
    border-radius: 15px;
}

.active{
    border-radius: 2px;
}

.active span{
    /* color: var(--blue); */
    font-weight: bold;
}

/* .navbar{
    background-color: var(--vermelho);
} */

/*  */

.nav-link{
    position: relative;
}

.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: var(--azul-claro);
    transition: 0.3s;
}

.nav-link:hover::after{
    width: 100%;
}

/*  */

.navigation{ 
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.navigation__content ul li div{
    padding: 8px 16px;
}

.icon{
    height: 2rem;
}

.rodape{
    height: 4rem;
}
