@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --roxo-principal: #b271e8;
    --roxo-escuro: #6D2FA3;
    --rosa-destaque: #bc4b8f;
    --rosa-principal: rgb(216, 109, 198);
    --rosa:  rgb(187, 65, 167);
    --pink: #f9b1ff;
    --azul-claro: #8FD8FF;
    --azul-snorlax: #3B5B6F;
}

body{
    font-family: 'Nunito Sans', Arial, sans-serif !important;
    letter-spacing: 0.4px;
    line-height: 1.2; 
    background-color: var(--rosa);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--roxo-principal);
    border-radius: 15px;
}

.active{
    border-radius: 2px;
}

.active span{
    /* color: var(--blue); */
    font-weight: bold;
}

/*  */

.nav-link{
    position: relative;
}

.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: var(--pink);
    transition: 0.3s;
}

.nav-link:hover::after{
    width: 100%;
}

/*  */

.navigation{ 
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.navigation__content ul li div{
    padding: 8px 16px;
}

.icon{
    height: 2rem;
}

.rodape{
    height: 4rem;
}

.cards{
    margin-bottom: 5rem;
}

.bg{
    background-color: var(--pink);
    /* cor temporaria do conteudo */
}

.jiggly_inicio{
    max-width: 5rem;
}

footer{
    background-color: var(--rosa); 
}