{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pokédex</title>
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navigation">
        <section class="navigation__content">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse ">
                <ul class="navbar-nav">
                    <li class="item m-3">
                        <a href='inicio' class="nav-link">
                            <span class="fa-house fa-solid"></span>
                            <span>Início</span>
                        </a>
                    </li>
                    <li class="item  m-3">
                        <a href="elenco" class="nav-link">
                            <span class="fa-house fa-solid"></span>
                            <span>elenco</span>
                        </a>
                    </li>
                    <li class="item  m-3">
                        <a href="sobre" class="nav-link">
                            <span class="fa-house fa-solid"></span>
                            <span>sobre</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </nav>
    
    {% block content %}
        <!-- <img src="{% static 'app/imgs/charizard.png' %}" alt="charizard"> -->
    {% endblock %}


    <footer class="bg-secondary fixed-bottom">
        <div class="container p-3">
            <div class="row">
                <div class="col text-white text-center">
                    <p>&copy; 2026 PWEB</p>  
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'app/js/script.js' %}"></script>
</body>
</html>
