{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pokédex</title>
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navigation">
        <section class="navigation__content">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse ">
                <ul class="navbar-nav">
                    <li class="item m-3">
                        <a href='inicio' class="nav-link">
                            <img src="{% static 'app/imgs/icons/inicio.png' %}" class="icon">
                            <span class="title">Página Inicial</span>
                        </a>
                    </li>
                    <li class="item  m-3">
                        <a href="elenco" class="nav-link">
                            <img src="{% static 'app/imgs/icons/pokebola-rosa.png' %}" class="icon">
                            <span class="title">Pokédex</span>
                        </a>
                    </li>
                    <li class="item  m-3">
                        <a href="sobre" class="nav-link">
                            <img src="{% static 'app/imgs/icons/informacoes.png' %}" class="icon">
                            <span class="title">Informações</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </nav>

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <p class="mb-0">{% block content %}{% endblock content %}</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="fixed-bottom">
        <div class="container p-3">
            <div class="row">
                <div class="col text-white text-center">
                    <img src="{% static 'app/imgs/icons/pokemon.png' %}" class="rodape">
                    <p>&copy; 2026 PWEB</p>  
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'app/js/script.js' %}"></script>
</body>
</html>
