{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pokedex</title>
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}?v=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <section class="navbar navbar-expand-lg">
        <div class="navigation__content">
            <ul class="navbar-nav">
                <li class="item">
                    <a href="index.html" class="nav-link">
                        <span class="fa-house fa-solid"></span>
                        <span>Início</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- <img src="{% static 'app/imgs/charizard.png' %}" alt="charizard"> -->

    <footer class="bg-secondary fixed-bottom">
        <div class="container p-3">
            <div class="row">
                <div class="col text-white text-center">
                    <p>&copy; 2026 PWEB</p>  
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/script.js'}"></script>
</body>
</html>
