{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container">
    <nav class="row">
        <!-- configurar nas views os pokemons -->
       {% for pokemon in pokedex %}
        <!-- <div class="col-lg-6"></div> dps ver se assim tava melhor-->
        <div class="col-md-4 cards">
            <div class="card">
                <img class="border-0 text-center pokedex" src="{% static 'app/imgs/customs/pokemon.jpg' %}">
                <img class="card-img card-img-top card-img-overlay" src="{{ pokemon.imagem }}">
                <div class="card-body text-center">
                    <h4 class="card-title">{{ pokemon.nome }}</h4>
                    <p class="card-text">
                        Tipo: {{ pokemon.tipo }}
                        Número: {{ pokemon.num }}
                    </p>
                </div>
            </div>
        </div>

        {% endfor %}
    </nav>
</section>
{% endblock %}