{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container">
    <nav class="row">
        <!-- for entra aqui dps dos dados nas views -->
        <div class="col-md-4 cards">
            <div class="card">
                <img class="card-img card-img-top obras" src="{% static 'app/imgs/charizard.png' %}">
                <div class="card-body text-center">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 cards">
            <div class="card">
                <img class="card-img card-img-top obras" src="{% static 'app/imgs/charizard.png' %}">
                <div class="card-body text-center">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 cards">
            <div class="card">
                <img class="card-img card-img-top obras" src="{% static 'app/imgs/charizard.png' %}">
                <div class="card-body text-center">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <nav class="row">
        <div class="col-md-4 cards">
            <div class="card">
                <img class="card-img card-img-top obras" src="{% static 'app/imgs/charizard.png' %}">
                <div class="card-body text-center">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4  cards">
            <div class="card">
                <img class="card-img card-img-top obras" src="{% static 'app/imgs/charizard.png' %}">
                <div class="card-body text-center">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 cards">
            <div class="card">
                <img class="card-img card-img-top obras" src="{% static 'app/imgs/charizard.png' %}">
                <div class="card-body text-center">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <nav class="row">
        <div class="col-md-4  cards">
            <div class="card">
                <img class="card-img card-img-top obras" src="{% static 'app/imgs/charizard.png' %}">
                <div class="card-body text-center">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 cards">
            <div class="card">
                <img class="card-img card-img-top obras" src="{% static 'app/imgs/charizard.png' %}">
                <div class="card-body text-center">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 cards">
            <div class="card">
                <img class="card-img card-img-top obras" src="{% static 'app/imgs/charizard.png' %}">
                <div class="card-body text-center">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>
    </nav>
    <nav class="row">
        <div class="col-md-4 cards">
            <div class="card">
                <img class="card-img card-img-top obras" src="{% static 'app/imgs/charizard.png' %}">
                <div class="card-body text-center">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 cards">
            <div class="card">
                <img class="card-img card-img-top obras" src="{% static 'app/imgs/charizard.png' %}">
                <div class="card-body text-center">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 cards">
            <div class="card">
                <img class="card-img card-img-top obras" src="{% static 'app/imgs/charizard.png' %}">
                <div class="card-body text-center">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>
    </nav>
</section>
{% endblock %}