{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container">
    <nav class="row">
        <!-- configurar nas views os pokemons -->
       {% for pokemon in pokedex %}

        <div class="col-md-4 cards">
            <div class="card">
                <img class="card-img card-img-top obras" src="{{ pokemon.imagem }}">
                <div class="card-body text-center">
                    <h4 class="card-title ">{{ pokemon.nome }}</h4>
                    <p class="card-text">
                    </p>
                </div>
            </div>
        </div>

        {% endfor %}
    </nav>
</section>
{% endblock %}