{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-lg-10 bg p-5 text-center">
    <h1> Bem-vindo ao universo Pokémon, Treinador! <img src="{% static 'app/imgs/customs/jiggly_pixel.png'  %}" class="jiggly_inicio m-2"></h1>
    <h4 class="m-2">Aqui você poderá explorar criaturas incríveis e conhecer espécies lendárias que marcaram gerações.
    Cada Pokémon possui habilidades únicas, evoluções especiais e histórias fascinantes
    que tornam cada aventura ainda mais emocionante.</h4>
    <h4 class="m-2">Navegue pela nossa Pokédex para aprender sobre tipos como:<br><br>
    🔥Fogo 💧Água 🌿Planta ⚡Elétrico 👻Fantasma 🐉Dragão<br><br>
    </h4 class="m-2">
</div>
{% endblock %}
