{% extends "base.html" %}
{% load static %}

{% block content %}

    <style>
        .card {
            background: #f9b1ff;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            padding: 20px;
            width: 280px;    
            text-align: center;
            border-top: 5px solid #ffcb05;
        }

        .card-red { border-top-color: #ff1f1f; }
        .card-blue { border-top-color: #1f8fff; }
        
        h2 { margin-bottom: 5px; color: #222; }
        .regiao { font-style: italic; color: #666; margin-bottom: 15px; }
        
        ul {
            list-style: none;
            padding: 0;
            text-align: left;
        }
        .card li {
            padding: 8px 0;
            border-bottom: 1px solid #eee;
        }
        li:last-child { border-bottom: none; }
        .badge {
            background: #ff00dd;
            padding: 2px 8px;
            border-radius: 12px;
            font-size: 0.85em;
            float: right;
        }
        
    </style>
<body>

    <div class="card card-red">

        <img class="border-0 text-center pokedex" src="{% static 'app/imgs/customs/pokemon.jpg' %}">
        <img class="card-img card-img-top card-img-overlay" src="{% static 'app/imgs/treinador.png' %}">

        <h2>Bruno</h2>
        <p class="regiao">Região: Bom Jesus</p>
        <h3>Equipe Principal:</h3>
        <ul>
            <li>Psyduck <span class="badge">Água</span></li>
            <li>Charizard <span class="badge">Fogo/Voador</span></li>
            <li> Piplup <span class="badge">Água</span></li>
        </ul>
    </div>

    <div class="card card-blue">
        
        <img class="border-0 text-center pokedex" src="{% static 'app/imgs/customs/pokemon.jpg' %}">
        <img class="card-img card-img-top card-img-overlay" src="{% static 'app/imgs/treinadora.png' %}">
        <h2>Paula</h2>
        <p class="regiao">Região: Boa Saude</p>
        <h3>Equipe Principal:</h3>
        <ul>
            <li> Gardevoir <span class="badge">Psiquico/Fada</span></li>
            <li> Togepi <span class="badge">Normal</span></li>
            <li> Mimikyu <span class="badge">Fantasma/Fada </span></li>
        </ul>
    </div>

</body>
{% endblock %}